@mixin width {
	width: 100%;

	@include mobile {
		max-width: calc(100% - #{$left-mobile * 2});
	}

	@include tablet {
		max-width: calc(100% - #{$left * 2});
	}

	@include laptop {
		max-width: $post-width;
	}

	@include desktop {
		max-width: $post-width;
	}
}
