# Codeception

wp-content/themes/mo-theme/tests/_output/
wp-content/themes/mo-pro-theme/tests/_output/
wp-content/themes/mo-plugin/tests/_output/

# PHPDoc

wp-content/themes/mo-theme/doc
wp-content/themes/mo-pro-theme/doc

# Composer

wp-content/themes/mo-theme/composer.phar
wp-content/themes/mo-theme/vendor/

wp-content/plugins/mo-plugin/composer.phar
wp-content/plugins/mo-plugin/vendor/

wp-content/themes/mo-pro-theme/composer.phar
wp-content/themes/mo-pro-theme/vendor/


# Node

wp-content/themes/mo-theme/node_modules/
wp-content/themes/mo-pro-theme/node_modules/
wp-content/plugins/mo-plugin/node_modules

# SASS

wp-content/themes/mo-theme/*.map
wp-content/themes/mo-pro-theme/*.map
wp-content/plugins/mo-plugin/*.map


# WordPress core
# - from https://brudtkuhl.com/wordpress-gitignore/

# Ignore everything in the root except ...
/*
!.gitignore
!.github/
!README.md
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/hide-admin-bar/
wp-content/plugins/wordpress-importer/
wp-content/themes/twentyseventeen


# WordPress defaults
# - from https://github.com/github/gitignore/blob/master/WordPress.gitignore

*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
