<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
		stopOnFailure="false">
	<filter>
  		<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">includes/</directory>
  		</whitelist>
	</filter>
</phpunit>