/**
 * The default skin
 *
 * - black on white
 * - minimalist and brutalist look
 *
 * Enabling a skin / theme is done in `style.scss`
 * Example: `@import 'assets/scss/themes/white.scss';`
 *
 */


/**
 * Colors
 */

// Default colors
//
$background-color: white;
$text-color: black;

// Post format colors
//
$post-format-status-background-color: '';
$post-format-status-text-color: '';

$post-format-comment-background-color: '';
$post-format-comment-text-color: '';

$post-format-link-background-color: '';
$post-format-link-text-color: '';

$post-format-standard-background-color: '';
$post-format-standard-text-color: '';



/**
 * Fonts
 */

// For text
//
$body-font: 'nimbus-sans';

// For code inside text
//
$monospace-font:'nimbus-mono';

// For site title (only used there)
//
$title-font: 'nimbus-mono';



/**
 * Typography
 *
 */

// The basic spacing unit
// - Every `padding` and `margin` will use this
$lem: 1.25em;

// The scale for bigger and smaller font sizes
// - http://www.modularscale.com/
$scale: 'major-third';

// Different line heights for different text types
//
$line-height: 1.5;
$line-height-larger: 1.8;
$line-height-smaller: 1.1;

// Different letter spacings for different text types
$letter-spacing: 1.25px;
$letter-spacing-larger: 2.5px;
$letter-spacing-extra-large: $lem / 2;

// Button padding
// - buttons won't use the `padding()` mixin
// - that mixin is for spacing elements, not to space a single element like a button
$button-padding: $lem / 4 $lem / 2;



/**
  * Layout
  *
  */

// We have a `margin()` and a `padding()` mixin
// - by using that mixin we can have a responsive spacing throughout the site
// - $top, $left are used from mobile and up (tablets, laptops, desktops)
// - $top-mobile, $left-mobile are used on mobile screens
$top: $lem * 2;
$left: $lem * 2;
$top-mobile: $lem * 2;
$left-mobile: $lem;

// The width of a post
//
$text-block-width: $lem * 30;
$post-width: $text-block-width;


// Display homepage posts
// - `false` - in a single column
// - `true` - in multiple columns
$home-grid-columns: 'false';



/**
 * Decorations
 *
 */

// Cursors
// - cursors can be found in the `assets/images` folder
$cursor-default: 'brutalist_line_SVGicon_cursor1-64x64--white';
$cursor-pointer: 'brutalist_line_SVGicon_cursor2-64x64--white';

// Cursor position needs to be fine tuned
// - when the default cursor is switched into a pointer it usually flicks
// - or the default cursor is not switched into a pointer at the right position
// - the top of the cursor needs to be adjusted with the following settings
// - `x` - move top of the cursor left
// - `y` - move top of the cursor up
// - `x, y` are two unitless nonnegative numbers less than 32
// - `x, y` needs to be adjusted both for the default and pointer cursors by trial and error
// - see https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
$cursor-default-x: 32;
$cursor-default-y: 0;
$cursor-pointer-x: 20;
$cursor-pointer-y: 0;


// Border size
// - borders are the main design element of the theme
// - here you can seriously alter the look and feel of the site
$border-normal: 1px solid;
$border-thin: $lem / 16 solid;
$border-thick: $lem / 8 solid;

// Background patterns
// - there is the `background-pattern()` mixin which defines background images
// - patterns are created with http://patternify.com/
// - by adding a suffix you can change the pattern
// - for example: `dotted-black` will use the `background-pattern--dotted-black` mixin
//

// The background pattern / color of an image (`<figure>`)
//
$figure-background-pattern: '';
$figure-background-pattern-color: '';

// The background pattern / color of a blockquote
//
$quote-pattern: 'dotted';
$quote-pattern-color: 'white';


// The background pattern / color of the sidebar
//
$sidebar-pattern: 'horizontal-lines';
$sidebar-pattern-color: 'white';
