// Arrow with triangle
//
// Done in pure CSS
// The corresponding HTML code can be found in `template-parts/framework/design/decorations`
//
// $size - starting from $lem * 2. As th size goes above $lem * 3 the line thickness must be increased
//
// Styleguide arrow-with-triangle
@mixin arrow-with-triangle($direction: right, $size: $lem * 3, $color: $text-color) {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;

	width: $size;

	&__line {
		@include border;
		width: calc(#{$size - $size / 6});
	}

	&__triangle {
		@include triangle($direction: $direction, $size: $size / 6, $color: $color);
	}

	&--right {
		@include arrow-with-triangle--right;
	}

	&--left {
		@include arrow-with-triangle--left;
	}

	&--top {
		@include arrow-with-triangle--top;
	}

	&--bottom {
		@include arrow-with-triangle--bottom;
	}

	@if ($direction == right) {
		@include arrow-with-triangle--right;
	}

	@if ($direction == left) {
		@include arrow-with-triangle--left;
	}

	@if ($direction == top) {
		@include arrow-with-triangle--top;
	}

	@if ($direction == bottom) {
		@include arrow-with-triangle--bottom;
	}
}
